.movie-container {
  display: inline-flex;
  justify-content: space-between;
}

.movie-card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 250px;
  margin-right: 10px;
}

.movie-card:last-child {
  margin-right: 0;
}

.movie-card img {
  max-width: 100%;
  height: auto;
}

.movie-info {
  margin-top: 20px;
}

.movie-info h2 {
  margin-bottom: 10px;
  color: #333333;
}

.movie-info p {
  margin-bottom: 10px;
  color: #666666;
}
